@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font family :"poppins",sans-serif;
}


}
Body {
    min-height: 100vh;
    background: #d2d2d2;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    background: #172538;
    padding: 25px 20px;
    transform: all 0.4s ease;
    display: flex;

    flex-direction: column;
    overflow: hidden;
}
.sidebar:hover{
    width: 260px;
    

}
.sidebar-header{
    display: flex;
    align-items: center;
}
.sidebar-header h2{
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    margin-left: 23px;
}
.sideber-links{
    list-style: none;
    margin-top: 20px;
    height: 80%;
    overflow: auto;
    scrollbar-width: none;
}
.sidebar:hover.sideber-links h4 span{
    opacity: 1;
}
.sideber-links h4{
color: #fff;
font-weight: 500;
margin: 10px 0;
white-space: nowrap;
}
.sideber-links li a{
display: flex;
align-items: center;
gap: 0 20px;
color: #dbd4d4e3;
padding: 15px 20px;
font-weight: 500;
white-space: nowrap;
text-decoration: none;

}
.sideber-links li a:hover{
    background: #ffffff2d;
    color: #fff;
    border-radius: 4px;
}
.user-Account{
    margin-top: auto;
    padding: 12px 10px;
    margin-left: 10px;
}
.user-Account .user-profile{
    color: #e5dede;
    display: flex;
    align-items: center;

}
.user-detail{
    margin-left: 23px;
    white-space: nowrap;
    
}
.user-profile h3 {
    font-size: 1rem;
    font-weight: 600;

}
.user-profile samp {
    font-size: 0.775rem;
    font-weight: 600;
}
img{
    width: 100%;
    height: 80%;
    display: flex;
}